.header {
    margin:0;
    text-align:center;
    padding:20px 10%;
    background-color: beige;
}

.header a {
    color: #ff0000be;
    text-decoration: underline;
    text-shadow: grey;
    margin: 0px;
    padding: 18px 60px;
    font-size: 22px;
    font-family: 'Noto Serif', serif;
}

.footer {
    background-color: rgb(29, 0, 95);
    text-align: center;
    color:blanchedalmond;
    font-size: 20px;
    padding: 18px 16px;
    font-family: 'Noto Serif', serif;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color:cornsilk;
    text-decoration: uppercase;
    text-shadow: gainsboro;
    font-family: 'Noto Serif', serif;
  }

  .centered-two {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:cornsilk;
      font-size: 40px;
      text-shadow: rgba(220, 220, 220, 0.774);

  }

  body {
      margin:0;
      font-family: 'Noto Serif', serif;
  }

  .column1 {
      position: relative;
      display:inline-block;
      margin: 10px 3% 30px 3%;
      padding: 1px 15px;
      width: 40%;
      height: 70vh;
      border: 5px solid rgb(15, 15, 133);
      border-radius: 10px;
      color: rgb(15, 15, 70);
      text-align: center;
      font-size: 22px;
      top: 5vh;
      
  }
  .column2 {
    position: relative;
    display:inline-block;
    margin: 10px 3% 30px 3%;
    padding: 1px 15px;
    width: 40%;
    height: 70vh;
    border: 5px solid rgb(15, 15, 133);
    border-radius: 10px;
    color: rgb(15, 15, 70);
    text-align: center;
    font-size: 22px;
    top: 1vh;
    
}

  a {
    color: #ff0000be;
  }

    a:hover {
    color:red;
}

h1 {
    text-align:center;
    margin: 30px;
    font-size: 37px;

}

ul {
    list-style-type:circle;
    margin: 10px 10px 10px 30px;
    padding: 5px;
  }

li {
    padding: 5px;
    text-align: left;
}
